body{
  color: #d5d500;
  box-sizing: border-box;
}

.container{
  min-height: 550px;
}

button{
  display: inline-block;
  padding: 5px 10px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  /*outline: none;*/
  color: #d5d500;
  background-color: #5959ff;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  /*min-width: 160px;*/
}

button:hover {
  background-color: rgb(0, 73, 218);
}

button:active {
  background-color: rgb(0, 45, 134);
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.wrap{
  display: inline-flex;
  flex-direction: column;
  vertical-align: top;
}

#gamer_wrap img, #computer img{
  width: 100px;
  height: 100px;
}

#dices{
  display: inline-flex;
}

#rules{
  text-align: justify;
}

#dices{
  text-align: center;
}

#computer img{
  margin: 0 1.5%;
}

